.vfrc-proactive-message {
  border: 1.5px solid #d6d6d6;
}

.vfrc-widget--launcher button img {
  width: 72%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .vfrc-widget--chat {
    width: 500px;
  }

  .vfrc-card {
    width: 260px;
  }
}
