/* Proactive messages */
._6r9xee3 {
  border: 1.5px solid #d6d6d6;
}

.vfrc-widget--launcher button img {
  width: 72%;
  height: auto;
  display: block;
  object-fit: cover;
}

.vfrc-system-response--actions .vfrc-button {
  border: 1.5px solid #d6d6d6;
}

@media screen and (min-width: 768px) {
  ._1wkq7nf3 { 
    width: 500px;
  }
}
