.vfrc-carousel .vfrc-card img {
  width: auto;
  max-height: 20vh;
}

.vfrc-carousel .vfrc-card--header {
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  /* Chat window */
  ._1wkq7nf3 ._1wkq7nf6 { 
    width: 500px;
  }
}