/* Proactive messages */
._6r9xee3 {
  border: 1.5px solid #d6d6d6;
}

.vfrc-card img {
  width: auto;
  height: 20vh;
}

.vfrc-card {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}

.vfrc-carousel {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.vfrc-carousel--button {
  top: 40%;
}

@media screen and (min-width: 768px) {
  ._1wkq7nf3 { 
    width: 500px;
  }
}
