/* Proactive messages */
._6r9xee3 {
  border: 1.5px solid #d6d6d6;
}

.vfrc-card--header {
  height: 2.5rem;
}

.vfrc-card {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}

.vfrc-carousel {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.vfrc-carousel--button {
  top: 40%;
}

.vfrc-system-response--actions .vfrc-button {
  border: 1.5px solid #d6d6d6;
  background: linear-gradient(to right, #D9D9D9, #F2F2F2);
  transition: all 0.2s ease;
}

.vfrc-system-response--actions .vfrc-button:hover {
  background: linear-gradient(to right, #C9C9C9, #E2E2E2);
  border-color: #c0c0c0;
}

@media screen and (min-width: 768px) {
  ._1wkq7nf3 { 
    width: 500px;
  }
}
