.vfrc-carousel .vfrc-card img {
  width: auto;
  max-height: 20vh;
}

.vfrc-carousel .vfrc-card--header {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .vfrc-widget--chat {
    width: 500px;
  }

  .vfrc-card {
    width: 260px;
  }
}